{% extends 'home.html' %}

{% block content %}
<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <!-- empty left sidebar -->
        </div>
        <div class="col-sm-8 text-left"> 
            <h1>Account </h1>
            <hr>
            <ul style="list-style-type: none;">
                <li>NetID: {{user.netid}}</li>
                <li>Name: {{user.name}}</li>
                <li>Email: {{user.duke_email}}</li>
                <li>Phone number: {{user.phone_number}}</li>
                <li>Affiliation: {{user.affiliation}}</li>
                <li>School: {{user.school}}</li>
                <li>Test: {{ridesListed[0].ride_no}}</li> <!--variables passed in: user, ridesListed, ridesReserved. print list with rides[0] but how to loop? or print all-->
                <li>Rides you are riding in: </li> <!--here we update the status of the ride- delayed, cancelled, ontime and how many riders and meeting spot/ drop off spot, comments, and driver-->
                <li>Rides you have listed: </li> <!--Same as information above-->
                <li>Ride history: </li><!--Just list driver, time, origin, destination-->
                <!--buttons we want to have- edit password, edit rides -->
            </ul>

            
        </div>
        <div class="col-sm-2 sidenav">
            
            <br><button>Edit Password</button></br>
            <br><button>Edit Rides</button></br>
        </div>
    </div>
</div>
{% endblock %}
