{% extends 'home.html' %}

{% block content %}
<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <!-- empty left sidebar -->
        </div>
        <div class="col-sm-8 text-left"> 
            <h1>Account </h1>

            <hr>
            <!--Shows error messages from edit info and edit rides-->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <h3><b><font color="red"> {{ message }}</font></b></h3>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <ul style="list-style-type: none;">
                <li><b>Account Information</b></li>
                <li>NetID: {{user.netid}}</li>
                <li>Name: {{user.name}}</li>
                <li>Email: {{user.duke_email}}</li>
                <li>Phone number: {{user.phone_number}}</li>
                <li>Affiliation: {{user.affiliation}}</li>
                <li>School: {{user.school}}</li>
                {% if driver %}
                <li><b>Driver Information</b></li>
                <li>License Number: {{driver.license_no}}</li>
                <li>License Plate Number: {{driver.license_plate_no}}</li>
                <li>License Plate State: {{driver.plate_state}}</li>
                {% endif %}
                
                <div> {% if ridesListed %}
                    <h4><b> Rides Posted by you: </b></h4>
                    <table style="width: 85%">
                        <tr style="border: 1px solid black;">
                            <th style="width: 10%; border: 1px solid black; text-align: center"> Ride Number </th>
                            <th style="width: 15%; border: 1px solid black; text-align: center"> Origin </th>
                            <th style="width: 15%; border: 1px solid black; text-align: center"> Destination </th>
                            <th style="width: 20%; border: 1px solid black; text-align: center"> Date </th>
                            <th style="width: 20%; border: 1px solid black; text-align: center"> Earliest Time </th>
                            <th style="width: 20%; border: 1px solid black; text-align: center"> Latest Time </th>
                            <th style="width: 4%; border: 1px solid black; text-align: center"> Seats Available </th>
                            <th style="width: 4%; border: 1px solid black; text-align: center"> Gas Price </th>
                            <th style="width: 10%; border: 1px solid black; text-align: center"> Comments </th>
                        </tr>
                        {% for ride in ridesListed %}
                        <tr>
                            <td style="border: 1px solid black; padding: 3px"> {{ ride.ride_no }} </td>
                            <td style="border: 1px solid black; padding: 3px"> {{ ride.origin }} </td>
                            <td style="border: 1px solid black; padding: 3px"> {{ ride.destination }} </td>
                            <td style="border: 1px solid black; padding: 3px"> {{ ride.date}} </td>
                            <td style="border: 1px solid black; padding: 3px"> {{ ride.earliest_time }} </td>
                            <td style="border: 1px solid black; padding: 3px"> {{ ride.latest_time }} </td>
                            <td style="border: 1px solid black; padding: 3px"> {{ ride.seats_available }} </td>
                            <td style="border: 1px solid black; padding: 3px"> {{ ride.gas_price }} </td>
                            <td style="border: 1px solid black; padding: 3px"> {{ ride.comments }} </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
                {% if ridesListed == None %}
                <div>
                    <h4><b>No rides listed</b></h4>
                </div>
                {% endif %}
        <br>

            <div> {% if reservations %}
                <h4><b> Rides Reserved by you: </b></h4>
                <table style="width: 85%">
                    <tr style="border: 1px solid black;">
                        <th style="width: 10%; border: 1px solid black; text-align: center"> Ride Number </th>
                        <th style="width: 10%; border: 1px solid black; text-align: center"> Driver Netid </th>
                        <th style="width: 15%; border: 1px solid black; text-align: center"> Origin </th>
                        <th style="width: 15%; border: 1px solid black; text-align: center"> Destination </th>
                        <th style="width: 20%; border: 1px solid black; text-align: center"> Date </th>
                        <th style="width: 25%; border: 1px solid black; text-align: center"> Earliest Time </th>
                        <th style="width: 20%; border: 1px solid black; text-align: center"> Latest Time </th>
                        <th style="width: 4%; border: 1px solid black; text-align: center"> Seats Available </th>
                        <th style="width: 4%; border: 1px solid black; text-align: center"> Gas Price </th>
                        <th style="width: 10%; border: 1px solid black; text-align: center"> Comments </th>
                        <th style="width: 10%; border: 1px solid black; text-align: center"> Your note </th>
                        <th style="width: 10%; border: 1px solid black; text-align: center"> Seats Needed </th>
                    </tr>
                    {% for reservation in reservations %}
                    <tr>
                        <td style="border: 1px solid black; padding: 3px"> {{ reservation.ride_no }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ reservation.driver_netid }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ reservation.origin }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ reservation.destination }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ reservation.date}} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ reservation.earliest_time }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ reservation.latest_time }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ reservation.seats_available }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ reservation.gas_price }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ reservation.comments }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ reservation.note }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ reservation.seats_needed }} </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            {% if reservations == None %}
            <div>
                <h4><b>No rides reserved</b></h4>
            </div>
            {% endif %}
        
                <!--variables passed in: user, ridesListed, ridesReserved.-->
                <!--<li>Rides you are riding in: </li> here we update the status of the ride- delayed, cancelled, 
                    ontime and how many riders and meeting spot/ drop off spot, comments, and driver
                <li>Rides you have listed: </li> Same as information above
                <li>Ride history: </li>Just list driver, time, origin, destination
                buttons we want to have- edit password, edit rides -->
           
            <br>
            <br>           
            </ul>

            
        </div>
        <div class="col-sm-2 sidenav">
            <br> <a href="{{url_for('rides.editInfo')}}"> Edit Information </a></br>
            <br> <a href="{{url_for('rides.editRidesRideNoCheck')}}"> Edit Ride </a></br>
            <br> <a href="{{url_for('rides.editRideTimeRideNoCheck')}}"> Edit Ride Time </a></br>
            <br> <a href="{{url_for('rides.editReservation')}}"> Edit Reservation </a></br>
            <br> <a href="{{url_for('rides.Riders_Netids')}}"> Netids of Riders who Reserved your Ride </a></br>
            <!--<br><button onclick= "window.location.href = {{url_for('rides.home_page')}}"> Edit Password</button></br>
            <br><button>Edit Rides</button></br>-->
        </div>
    </div>
</div>
{% endblock %}
