{% extends 'edit-list-ride.html' %}
<!--{% block heading %}Edit Listed Ride Information: {{ride.ride_no}}{% endblock %} include driver net id here? need to make so only driver can log in-->

{% block content %}
<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <!-- empty left sidebar -->
        </div>
        <div class="col-sm-8 text-left"> 
            <h1>Page coming soon</h1>
            
            
        </div>
        <div class="col-sm-2 sidenav">
            <!-- empty right sidebar-->
        </div>
    </div>
</div>
{% endblock %}