{% extends 'account.html' %}
<!--{% block heading %}Edit Listed Ride Information: {{ride.ride_no}}{% endblock %} include driver net id here? need to make so only driver can log in-->

{% block content %}
<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <!-- empty left sidebar -->
        </div>
        <div class="col-sm-8 text-left"> 

            <center>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <h3><b> {{ message }}</b></h3>
                {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
             
                {% for message in form.latest_departure.errors %}
            <div><b>{{ message }}</b></div>
         {% endfor %}

          {% if validRideNo == False %}
            <h1>Enter Ride Number</h1>
            <center>
            <form action = "/rides/edit-ride-time"  onsubmit="return validateForm();" method="post">
              <div style = font-size:14px; font-weight:bold; margin-left:150px;>
              {{ formRideNo.csrf_token }}
             
              {{ formRideNo.ride_no.label }}<br>
              {{ formRideNo.ride_no }}
              <br>
            </div>
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
            {{ formRideNo.submit }}
            </div>
            </form>
            
        </center>

          {% endif %}
          {% if validRideNo %}
            <h1>Edit a Ride</h1>
            <hr>

              <form action = "/rides/edit-ride-time"  onsubmit="return validateForm();" method="post">
                <div style = font-size:14px; font-weight:bold; margin-left:150px;>
                {{ form.csrf_token }}

                {{ form.earliest_departure.label }}<br>
                {{ form.earliest_departure }}
                <br>

                {{ form.latest_departure.label }}<br>
                {{ form.latest_departure }}
                <br>
                <br>

              </div>
              <div style = font-size:20px; font-weight:bold; margin-left:150px;>
              {{ form.submit }}
              </div>
              </form>
              
          </center>

          {% endif %}
            
            
        </div>
        <div class="col-sm-2 sidenav">
            <!-- empty right sidebar-->
        </div>
    </div>
</div>
{% endblock %}