{% extends 'account.html' %}

{% block content %}
<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <!-- empty left sidebar -->
        </div>
        <div class="col-sm-8 text-left"> 
            <center>
            <h1>Edit Information</h1>
            <!--action URL? maybe add center tag-->
            <form action = "/rides/edit-info"  onsubmit="return validateForm();" method="post">
                <div style = font-size:14px; font-weight:bold; margin-left:150px;>
                {{ form.csrf_token }}

                {{ form.phone_number.label }}<br>
                {{ form.phone_number(value=user.phone_number)}}
                {% if form.phone_number.errors %}
                 <ul class="errors">{% for error in form.phone_number.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
                <br>
                
                {{ form.affiliation.label }}<br>
                {{ form.affiliation(value=user.affiliation)}}
                <br>

                {{ form.password.label }}<br>
                {{ form.password }}
                <br>

                {{ form.confirmPassword.label }}<br>
                {{ form.confirmPassword }}
                <br>

                <br>
                </div>
                <div style = font-size:20px; font-weight:bold; margin-left:150px;>
                {{ form.submit }}
                </div>
                </form>
            </center>
        </div>
    </div>
</div>
{% endblock %}