{% extends 'account.html' %}
<!--{% block heading %}Edit Listed Ride Information: {{ride.ride_no}}{% endblock %} include driver net id here? need to make so only driver can log in-->

{% block content %}
<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <!-- empty left sidebar -->
        </div>
        <div class="col-sm-8 text-left"> 
          {% if validRideNo == False %}
            <h1>Enter Ride Number</h1>
            <center>
            <form action = "/rides/edit-list-ride"  onsubmit="return validateForm();" method="post">
              <div style = font-size:14px; font-weight:bold; margin-left:150px;>
              {{ formRideNo.csrf_token }}
             
              {{ formRideNo.ride_no.label }}<br>
              {{ formRideNo.ride_no }}
              <br>
            </div>
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
            {{ formRideNo.submit }}
            </div>
            </form>
            
        </center>

          {% endif %}
          {% if validRideNo %}
            <h1>Edit a Ride</h1>
            <hr>
            <center>
              
              <form action = "/rides/edit-list-ride"  onsubmit="return validateForm();" method="post">
                <div style = font-size:14px; font-weight:bold; margin-left:150px;>
                {{ form.csrf_token }}
               
                {{ form.date.label }}<br>
                {{ form.date(value=ride.date)}}
                <br>

                {{ form.earliest_departure.label }}<br>
                {{ form.earliest_departure(value="13:00")}}
                <br>

                {{ form.latest_departure.label }}<br>
                {{ form.latest_departure(value=ride.latest_departure)}}
                <br>

                {{ form.seats_available.label }}<br>
                {{ form.seats_available(value=ride.seats_available) }}
                <br>

                {{ form.gas_price.label }}<br>
                {{ form.gas_price(value=ride.gas_price) }}
                <br>

                {{ form.comments.label }}<br>
                {{ form.comments(value=ride.comments) }}
                <br>

                {{ form.cancel.label }}<br>
                {{ form.cancel(value='Yes') }}
                <br>
                <br>

              </div>
              <div style = font-size:20px; font-weight:bold; margin-left:150px;>
              {{ form.submit }}
              </div>
              </form>
              
          </center>

          {% endif %}
            
            
        </div>
        <div class="col-sm-2 sidenav">
            <!-- empty right sidebar-->
        </div>
    </div>
</div>
{% endblock %}