{% extends 'home.html' %}

{% block content %}
<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <!-- empty left sidebar -->
        </div>
        <div class="col-sm-8 text-left"> 
            <center>
            <h1>Create an Account</h1>
            {% for message in form.name.errors %}
               <div>{{ message }}</div>
            {% endfor %}
      
            {% for message in form.duke_email.errors %}
               <div>{{ message }}</div>
            {% endfor %}
            <form action = "/sign-up" onsubmit="return validateForm();" method="post">
                   <div style = font-size:14px; font-weight:bold; margin-left:150px;>
                   {{ form.csrf_token }} 
                  
                   {{ form.name.label }}<br>
                   {{ form.name }}
                   <br>
                       
                   {{ form.netid.label }}<br>
                   {{ form.netid }}
                   <br>
                
                   {{ form.duke_email.label }}<br>
                   {{ form.duke_email(placeholder='yournetid@duke.edu') }}
                   <br>
                       
                   {{ form.phone_number.label }}<br>
                   {{ form.phone_number }}
                   <br>

                   {{ form.affiliation_sel.label }}<br>
                   {{ form.affiliation_sel }}
                   <br>
                    
                   {{ form.school.label }}<br>
                   {{ form.school }}
                   <br>
                    
                   {{ form.password.label }}<br>
                   {{ form.password }}
                   <br>
                   <br>
                   </div>
                   <div style = font-size:20px; font-weight:bold; margin-left:150px;>
                   {{ form.submit }}
                   </div>
            </form>
            </center>
            </div>
        <div class="col-sm-2 sidenav">
            <!-- empty right sidebar-->
        </div>
</div>
</div>
{% endblock %}
